{
    "presets": [
        ["env", {
            "targets": {
                "node": "4.0"
            },
            "modules": false
        }]
    ],
    "plugins": ["transform-object-rest-spread"]
}
